main {
  background: url(../img/contactBG.jpg) center center no-repeat;
  background-size: cover;
  //   margin-top: 98px;
  width: 100%;
  height: 1220px;

  h1 {
    font-family: "gilroybold", sans-serif;
    font-size: 60px;
    margin-top: 350px;
    color: #002b50;
  }

  p {
    color: black;
    font-family: "gilroybold", sans-serif;
    font-size: 30px;
    margin-top: 60px;

    color: #00305a;
  }
}
